**/node_modules
**/__pycache__
**/.git
**/venv
**/env
**/.env
**/*.log
**/dist
**/build
**/.pytest_cache
**/coverage
**/.coverage
**/htmlcov
**/.mypy_cache
**/.vscode
**/.idea
**/.cache
**/tmp
**/temp
